body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6f0ff;
  color: #003366;
  margin: 0;
  padding: 0;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #003366;
}

button {
  background-color: #0052cc;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}

.login-container, .dashboard-container, .profile-container {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.navbar {
  background-color: #003366;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.notification-card {
  border: 1px solid #0052cc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #cce0ff;
}
